/* ContentItem.css */
.content-item {
  max-width: 800px;
  margin: auto;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-item-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: auto;
}

.content-item-details > * {
  padding: 20px;
}

.content-item-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-item-actions button {
  padding: 10px 20px;
}

h2 {
  padding: 3%;
}

p {
  padding: 3%;
}